<!DOCTYPE html>
<html layout:decorate="~{layout}">

<head>
	<meta charset="UTF-8" />
</head>

<body>

	<section class="layout-content" layout:fragment="corpo">

		<nav class="navbar navbar-expand-md bg-light">
			<div class="collapse navbar-collapse" id="navbarsExampleDefault">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active"><i class="oi oi-caret-right"></i>
						<span>Home</span></li>
				</ul>
			</div>

		</nav>
		<a class="btn btn-primary btn-md btn-block" href="/contatos/cadastrar" role="button">
			<span class="oi oi-plus" Stitle="Cadastro" aria-hidden="true"></span> <span>Novo Contato</span>
		</a>

		<a class="btn btn-primary btn-md btn-block" href="/contatos/listar" role="button">
			<span class="oi oi-spreadsheet" title="Cadastro" aria-hidden="true"></span>
			<span>Listar Contatos</span>
		</a>
	</section>

</body>

</html>